:root {
    --accent-color: #436328;
    font-size: 16px;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
/* Classes used in index html page */
.main-menu{
    background-color: #FDFAE2;
}

.navigationbar ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    
    padding: 10px;
    list-style: none;
    bottom: 100px;

    font-family: Chonburi, sans-serif;
    font-size: 1.5625rem;
    
    position: relative;
    
}

.navigationbarmenu ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    padding: 10px;
    list-style: none;
    bottom: 1px;

    
    
    font-family: Chonburi, sans-serif;
    font-size: 1.5625rem;
    
    position: relative;
    
}

.center-text{
    text-align: center;
}


.cart-container {
    display: flex;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--accent-color);

    width: 100%;
    max-width: 1000rem;
    height: 300px;
    max-height: 300px;

    position: relative;
    bottom: 90px;

    overflow-y: hidden;
    overflow-x: scroll;
}

.left-img{
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    width: 30%;
    max-width: 100;
}

.right-img{
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    width: 30%;
}

.center-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}

.top-image{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.top-image img {
    width : 100%;
    height : 100%;
    object-fit: cover;
    object-position: 0% 75%;
    display:block;
}



.overlay-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    bottom: 10%;
    left: 36%;
    
}

.highlights{
    display: flex;
    position: relative;
    flex-direction: column;

    background-color: var(--accent-color);

    bottom: 10px;
    font-size: 10pt;
    width: 100%;
    max-width: 60rem;
    
    margin:auto;
    padding: 1.875rem;
    gap:2rem;
}

.featured-item-container{
    display: flex;
    flex-direction: row;
    gap : 1.25rem;
}

.featured-item-container img{
    width: 150px;
    border-radius: 10px;
}

.top-bar{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    top: 50px;
}

  
.orderbutton{
    display: flex;
    position: relative;
    bottom: 60px;
    background-color: green;
    cursor: pointer;
    
    background-color: var(--accent-color);
    
    width: 250px;
    height: 40px;
    color: white;

    padding: 4px 10px;
    border-radius: 10px;
    
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
}


  
/* Classes used  in product listing pages */
.top-image-philly{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.top-image-philly img {
    width : 100%;
    height : 100%;
    object-fit: cover;
}

.line {
    margin-top: 3.5rem;
    width: 100%;
    height: 2px;
    background-color: black;
    
}

.linemenu {
    margin-top: 2rem;
    width: 100%;
    height: 2px;
    background-color: black;
}
/* Classes used in menus page */
.card{
    background-color: var(--accent-color);
     
    width: 100%;
    max-width: 400px;
    height: 100px;
    
    flex-direction: row;
    display: flex;
    align-items:center;

    gap: 0.75rem;
    padding: 0.625rem;
    
    border-radius: 0.625rem;
    text-decoration: none;
   
}

.card-content{
    display: flex;
    gap: 20px;
}

.card-image{
    width: 100px;
    height: 80px;

    object-fit: cover;

    border-radius: 4px;
    margin-left: 0.3125rem;
    
}

.card h3{
    color: white;
    margin: 0px;
}

.order{
    margin-top: 50px;
}

body {
    margin:0;
}

.top-left-button{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
}
.top-left-button img{
    width : 60%;
    border-radius: 10px;
    cursor: pointer;
}

/* Classes used in Cart html page */
.cart-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

#cart-items {
    list-style: none;
    padding: 0;
    width: 100%;
    
}

.cart-item img{
    width: 6rem;
}

.confirm-wrapper {
    display: flex;
    justify-content: center;
    width: 200%;
    cursor: pointer;
}

.subtotal-text{
    position: relative;
    left: 40px;
}

.cart__remove-button{
    width: 105%;
    display: block;
    font-family: Chonburi, sans-serif;

    background-color: #436328;
    color: white;
    
    padding: 10px 10px;
    border-radius: 10px;

    cursor: pointer;
}

.cart-space_spacing{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-cart{
    padding: 20px 10px;
}

@media (max-width: 390px){

    .navigationbar ul {
        top: 20px;
        gap: 1.25rem;
        flex-wrap: wrap;
    }

    .navigationbarmenu ul {
        top: 20px;
        gap: 1.25rem;
        flex-wrap: wrap;
    }

    .top-bar{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 1px;
        top: 50px;
    }


    .orderbutton {
        background-color: #96D363;
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        
        z-index: 9999;
    }

    .hero {
        position: relative;
        bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 200px;
    }

    .left-img,
    .right-img{
        display: none;
    }

    .center-img{
        display: block;
        width: 90%;
    }

    .overlay-text{
        position: absolute;
        font-size: 1rem;
        bottom: 0.625rem;
        left: 2rem;
    }
    
    .highlights{
        width: 100%;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        box-sizing: border-box;
        padding: 16px;
        
    }

    .highlights h3{
        text-align: center;
    }

    .highlights p{
        text-align: center;
    }

    .featured-item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h3-row {
        flex-direction: column;
        align-items: center;
    
    }
    .h3-row h3 {
        flex-direction: column;  
        
    }

    .card{
        background-color: var(--accent-color);
        height: auto;
        width: 50%;
        max-width: 350px;
        
        
        padding: 10px;
        
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        padding-top: 20px;
        border-radius: 10px;

        text-decoration: none;
        color: inherit;
    }

    .card-cart{
        width: 90%;
        max-width: 350px;
        padding-top: 20px;
        border-radius: 10px;
    }

    .cart-item img{
        width: 10rem;
    }
    

    .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 20px;
    }
    .card h3{
        color: white;
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
        
    }

    .card-image{
        width: 80%;
        height: 130px;
        border-radius: 4px;
    }

    .top-left-button{
        position: absolute;
        top: 20px;
        left: 5px;
        display: block;
    }

    .top-left-button img{
        width: 5rem;
    }

    .cart-space{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 10px; 
        overflow-x: hidden;
    }
    .confirm-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .subtotal-text{
        position: relative;
        left: 10px;
    }
}

