:root {
    --accent-color: #436328;
    font-size: 16pt;
}

.header-class {
    font-size: x-large;
    font-family: Comfortaa, sans-serif
}

.navigationbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Chonburi, sans-serif

}

.center-text{
    text-align: center;
}

.hero{
    background-color: var(--accent-color);
    height: 15rem;
}

.highlights{
    background-color: var(--accent-color);
    font-size: 16pt;
    width: 35rem
    
}



