:root {
    --accent-color: #436328;
    font-size: 16pt;
}

.header-class {
    font-size: x-large;
    font-family: Comfortaa, sans-serif
}

.navigationbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    justify-content: center;
    font-family: Chonburi, sans-serif

}

.center-text{
    text-align: center;
}

.hero{
    background-color: var(--accent-color);
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}
.hero img{
    width:550px;
    height: auto;
    justify-content: center;
}

.highlights{
    background-color: var(--accent-color);
    font-size: 16pt;
    width: 35rem;
    margin: 0 auto;
    padding: 10px;
    
}





