.title {
    font-family: Chonburi, sans-serif;
    font-weight: 700;
}

.headers {
    font-family: Chonburi, sans-serif;
    font-weight: 400;
}

.subheaders {
    font-family: Chonburi, sans-serif;
    font-weight: 400;

}

.subtitle {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
}

.h3-row {
    display: flex;
    gap : 20px;
    justify-content: center;
    
}

.h3-row h3 {
    background-color: var(--accent-color);
    

    width: 200px;
    height: 80px;

    padding: 15px, 25px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.font-white{
    color: #FFFFFF;
}

.font-brown{
    color: #9C614B
}

.button {
    display: flex;
    gap : 20px;
    justify-content: center;
    
}

.button {
    background-color: var(--accent-color);
    
    width: 250px;
    height: 80px;

    padding: 15px 25px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    margin: 0 auto;
    
}



