.text-title {
    font-family: Chonburi, sans-serif;
    font-weight: 600;
    font-size: 40pt;
}

.text-headers {
    font-family: Chonburi, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.text-subheaders {
    font-family: Chonburi, sans-serif;
    font-weight: 400;
    font-size: 20pt;

}

.text-section-title {
    font-family: Chonburi, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-left: 30px;
}

.text-subheaders-menu{
    font-family: Chonburi, sans-serif;
    font-size: 1.25rem;
}

.text-subtitle {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 14pt;
}

.header-class {
    font-size: x-large;
    font-family: Comfortaa, sans-serif
}


.h3-row {
    display: flex;
    gap : 20px;
    justify-content: center;
    padding-top: 40px;
    
}

.h3-row h3 {
    background-color: var(--accent-color);
    
    gap : 20px;
    width: 200px;
    height: 80px;

    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.font-white{
    color: #FFFFFF;
}

.font-brown{
    color: #9C614B
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120%;
    height: 80px;

    padding: 10px 10px;
    border-radius: 10px;

    background-color: var(--accent-color);
    color: white;

    cursor: pointer;
    text-decoration: none;
    
}

.spacing{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


#cart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    
}

#cart-section .button {
    display: inline;
}

.item-info {
    display: flex;
    flex-direction: column;
}


@media (max-width: 390px){

    .text-title{
        position: relative;
        left: 10px;
        top: 10px;
        font-size: 2.1rem;
        
    }

    .button {
        background-color: var(--accent-color);
        display: flex;
        width: 120%;
        height: 80px;

        padding: 0px, 0px;
    }
}
